#####
## See README.syslog for more information
#####

log4j.rootCategory=DEBUG, system

# Console logger
#log4j.appender.A1=org.apache.log4j.ConsoleAppender
#log4j.appender.A1.layout=org.apache.log4j.PatternLayout
#log4j.appender.A1.layout.ConversionPattern=%m%n

# Rolling file logger
#log4j.appender.F=org.apache.log4j.RollingFileAppender
#log4j.appender.F.File=test.log

#log4j.appender.F.layout=org.apache.log4j.PatternLayout
#log4j.appender.F.layout.ConversionPattern=%p %l %m %n


# Flowvisor syslog logger. Logs to the system logger.
# Currently outputs the priority followed by the message.
log4j.appender.system=org.flowvisor.log.AnyLogger
log4j.appender.system.Protocol=unix_socket
log4j.appender.system.layout=org.apache.log4j.PatternLayout
log4j.appender.system.layout.ConversionPattern=%p %m %n
